# Project exclude paths
/out/
/cours_2/hw_1l/pom.xml
/cours_1/hw_6l/pom.xml
/cours_1/hw_13l/pom.xml
/cours_1/hw_2l/.gitignore
/cours_1/hw_12l/.gitignore
/cours_1/hw_12l/pom.xml
/cours_1/hw_3l/.gitignore
/cours_1/hw_3l/pom.xml
/cours_1/hw_13l/target/
/cours_1/hw_6l/.gitignore
/cours_1/hw_1l/.gitignore
/cours_1/hw_13l/.gitignore
/cours_1/hw_5l/pom.xml
/cours_1/hw_11l/.gitignore
/cours_1/hw_2l/pom.xml
/cours_2/hw_1l/target/
/cours_2/hw_2l/target/
/cours_2/hw_3l/target/
/cours_1/hw_10l/.gitignore
/cours_1/hw_9l/.gitignore
/cours_1/hw_7l/.gitignore
/cours_2/hw_3l/pom.xml
/cours_2/hw_2l/.gitignore
/cours_1/hw_1l/pom.xml
/cours_1/hw_5l/.gitignore
/cours_1/hw_4l/.gitignore
/cours_1/hw_8l/.gitignore
/cours_1/hw_4l/pom.xml
/cours_2/hw_3l/.gitignore
/cours_2/hw_2l/pom.xml
/cours_2/hw_1l/.gitignore
/cours_1/hw_12l/target/
/cours_2/hw_3l/.idea/
/cours_2/hw_2l/.idea/
/cours_2/hw_1l/.idea/
/cours_1/hw_13l/.idea/
/cours_1/hw_12l/.idea/
/cours_1/hw_11l/.idea/
/cours_1/hw_10l/.idea/
/cours_1/hw_9l/.idea/
/cours_1/hw_8l/.idea/
/cours_1/hw_7l/.idea/
/cours_1/hw_6l/target/
/cours_1/hw_6l/.idea/
/cours_1/hw_5l/.idea/
/cours_1/hw_4l/target/
/cours_1/hw_4l/.idea/
/cours_1/hw_5l/target/
/cours_1/hw_3l/target/
/cours_1/hw_3l/.idea/
/cours_1/hw_2l/target/
/cours_1/hw_2l/.idea/
/cours_1/hw_1l/target/
/cours_1/hw_1l/.idea/
